<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Articles de Presse
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let article of article" [routerLink]="['/article', article.id]">
      <ion-thumbnail slot="start" *ngIf="article.illustration">
        <img [src]="article.illustration" [alt]="article.titre">
      </ion-thumbnail>
      
      <ion-label>
        <h2>{{ article.titre }}</h2>
        <p>{{ article.contenu | slice:0:100 }}...</p>
        <p class="metadata">
          <small>
            Par {{ article.auteur.nom}} {{article.auteur.prenom}} ~
            {{ article.date_pub | date:'dd/MM/yyyy HH:mm' }}
          </small>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
